<div class="grid_5">

<div class="module">
<h2><span>Imagens disponiveis</span></h2>

<div class="module-body">

<div id=".media">
<div class="media">
<%- @galeries.each do |g| -%>
  <%= link_to image_tag(g.document.url(:thumb), :size => "60x60") , g.document.url, :target => "_blank"  %>
<%- end -%>
</div>
</div>
<%= will_paginate @galeries %>
</div>
</div> <!-- module -->
<div style="clear:both;"></div>
</div> <!-- End .grid_5 -->
