<div class="5grid-layout">
  <div class="row">
    <div class="6u">
  
    <div class="mobileUI-main-content" id="content">

     
      <section>
      <div class="post">
        <h2>Erlon Carlos de Oliveira Gomes</h2>
        <br/>
        <p><strong>

 Brasileiro, Casado 39 anos<br/>
 E-mail: <a href="mailto:erlon@eboxbrasil.com.br" title="Faça contato">erlon@eboxbrasil.com.br </a><br/>
  E-mail: <a href="mailto:erlonlon@gmail.com" title="Faça contato"> erlonlon@gmail.com</a>
   <br/>
   Site:<a href="http://www.eboxbrasil.com.br" target="_blank" title="Faça contato"> www.eboxbrasil.com.br</a> <br/>
   Repositório de Código:<a href="https://github.com/erlonlon" target="_blank" title="Faça contato"> github.com/erlonlon</a><br/> 
 Rua José Leon, 1078
Condomínio Primavera
Apé – 203 – Bloco 10<br/>
Bairro: Cidade Funcionários 
CEP: 60822-670
Fortaleza/CE<br/>
Fone: (88) 3421-3181
Celular: (88) 9466-3480
             (88) 9652-4411
 
        </strong></p>
        <br/>

      <p class="subtitle">
     Área de Atuação: Desenvolvedor para Web
      </p>
      <h3><strong>Resumo profissional</strong></h3>
      <br/>

      <p>
Hoje sou estudante das áreas afins, e trabalho como freelance com projetos voltado para Web, onde já tenho alguns projetos de pequeno porte funcional e profissional, estou  a procura de atuar numa empresa para poder me profissionalizar de uma forma correta, pois a área de desenvolvimento de software temos que está sempre atualizados.
Busco uma colocação neste mercado, muito importante pra mim. Destarte, alcançar minha realização profissional.

</p>
<br/>
<h3><strong>Formação Acadêmica</strong></h3>
<br/>
<p>
      Graduação – Web Designer e Programação - completo-Unisul (2007) – conclusão 06/2010.
      Pós-Graduação - Estudante de Especialização em Engenharia de Software com Ênfase em Padrões de Software. – incompleto (2011) – conclusão (2012).      
    
      
   </p> 
   <br/>
   <p><strong>Disciplinas já cursadas</strong></p>
    <ul>
<li>Engenharia de Software (30 horas)</li>
<li>Introdução à Padrões de Software (30 horas)</li>
<li>Fundamentos e Projeto de Banco de Dados (30 horas)</li>
<li>Análise e Projeto de Software Orientado a Objeto (30 horas)</li>
<li>Projeto de Interfaces (15 horas)</li>
<li>Programação Orientada à Objeto (45 horas)</li>
<li>Qualidade de Software (30 horas)</li>
<li>Validação e Teste de Software (15 horas)</li>
<li>Escrevendo Padrões (15 horas)</li>
<li>Padrões e Anti-Padrões J2EE (30 horas)</li>
<li>Gerência de Projetos (30 horas)</li>

    </ul>
    <p><strong>Disciplinas que faltam cursar</strong></p>
 <ul>
<li>Padrões Arquiteturais e de Projeto (GOF e POSA) (45 horas)</li>
<li>Frameworks (15 horas)</li>
<li>Seminários de Engenharia de Software (15 horas)</li>
     </ul>
     <br/>
     <h3><strong>Histórico Profissional</strong></h3>
<br/>
     <ul>
<li>Estágio : Mob Telecom -  Desenvolvimento de software</li>
<li>Santa Clara Indústria e Comércio – Vendedor Externo</li>

 </ul>
 <br/>
 <h3><strong>Cursos de Aperfeiçoamento</strong></h3>
<br/>
<ul>
<li>Java Starter www.t2ti.com (Introdução ao Java)</li>
<li>Java Web: www.t2ti.com (Curso JSP/Servlets | Curso JSTL + Hibernate | Curso Java Server Faces 1.2 (JSF) + Hibernate)</li>
<li>DevMedia: www.devmedia.com.br (Curso de EJB3 - JPA - Hibernate - JSP - JSF - Mysql )</li>
<li>Primeiro Hackathon Fortes de Programação na Linguagem Ruby on Rails</li>
<li>Curso de Ruby on Rails do Básico ao Avançado, <a href="http://www.edukee.com/pt/curso/rubyonrails/turma-p/1387166819" traget="_blank">www.edukee.com/pt/curso/rubyonrails</a></li>

 </ul>
 <br/>
 <h3><strong>Conhecimentos</strong></h3>
 <br/>


<ul>
<li>Programação POO</li>
<li>Hibernate</li>
<li>JSF</li>
<li>Layout Css</li>
<li>Diagrama de Class-UML</li>
<li>IDE: Eclipse e Netbeans</li>
<li>Ruby on Rails</li>
<li>GitHub</li>
<li>Mysql</li>
<li>Sql Server</li>
<li>Xhtml, Html</li>

  </ul>

      <p class="button-style2">
   <a href="javascript:history.back()">Voltar</a>
      </p>
      </div>

      </section>
    
    </div>
     
    </div>

  <!--sde bar-->

  <%= render 'pages/sidebar' %>
  <!--fecha side bar-->

  </div>
</div>


