 <div class="5grid-layout">

      <div class="row divider">
      
         <% @galeries_clientes.galeries.limit(3).each do |c| %>
        <div class="4u">
          <section>
            <div class="box-style">
           
           <%= link_to image_tag(c.document.url(:medium), :size => "190x130" ), c.document.url, :target => "blank" %>
                      
              <h3><%= c.title %></h3>
              <p><%= c.body %></p>
            </div>
          </section>
        </div>
          <% end %>
       
        
      </div>
    </div>