 <div id="footer">
    <div class="box1">
      <h2>Últimas informações !</h2>
      <img class="imgl" src="images/demo/imgl.gif" alt="" />
      <p>Morbitincidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anterdumnullam interdum eros dui urna consequam ac nisl nullam ligula vestassa. Condimentumfelis et amet tellent quisquet a leo lacus nec augue</p>
      <p>Portortornec condimenterdum eget consectetuer condis.</p>
    </div>
    <div class="box contactdetails">
      <h2>Outros Contatos !</h2>
      <ul>
        
        <li>Av. Olímpica &amp; 2329</li>
        <li>Aracati-Ce</li>
        <li>Postcode/62800-000</li>
        <li>Tel: 88 3421-3181</li>
        <li>Fax: 88 9652-4411</li>
        <li> <a href="mailto:erlon@eboxbrasil.com.br" title="Solicite um orçamento">email: erlon@eboxbrasil.com.br</a></li>
        <li class="last">LinkedIn: <a href="#">Erlon Carlos</a></li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>Últimas Imagens !</h2>
      <div class="wrap">
        <% @galeries_footer.each do |g| %>
     

        <div class="flickr_badge_image" id="flickr_badge_image1">
          <a href="#">
            <%= image_tag(g.document.url(:thumb), :size => "80x80") %></a>
          </div>


       <% end %>
     
      </div>
    </div>
    <br class="clear" />
  </div>