
  <div class="5grid-layout">
    <div class="row" id="footer-content">
      <div class="3u" id="box1">
        <section>
          <h2>Um Poudo de Reflexão</h2>
          <div class="balloon">
            <blockquote>&ldquo;&nbsp;&nbsp;Podemos acreditar que tudo que a vida nos oferecerá no futuro é repetir o que fizemos ontem e hoje. Mas, se prestarmos atenção, vamos nos dar conta de que nenhum dia é igual a outro.&nbsp;&nbsp;&rdquo;<br>
              <br>
              <strong>&ndash;&nbsp;&nbsp;Paulo Coelho</strong></blockquote>
          </div>
          <div class="ballon-bgbtm">&nbsp;</div>
          <p></p>
        </section>
      </div>
      <div class="3u" id="box2">
        <section>
          <h2>Facebook</h2>
         <div class="fb-like-box" data-href="https://www.facebook.com/pages/Eboxbrasil/183072518436336?ref=hl" data-width="280" data-show-faces="true" data-border-color="000000" data-stream="false" data-header="false"></div>

          <!-- botão google-->
      <div id="google">
         <g:plusone size="medium" annotation="inline"></g:plusone>

      </div>
 <!-- botão google-->
        </section>
      </div>
      <div class="3u" id="box3">
        <section>
          <h2>Galeria de Imagens</h2>
           <% @galeries_footer.galeries.limit(9).each do |g| %>
          
           <a href="#"> <%= image_tag(g.document.url(:thumb), :size => "80x80") %></a>
          
         
          <% end %>
        
        </section>
      </div>
      <div class="3u" id="box4">
        <section>
          <h2>Outros Contatos</h2>
          <p><strong>Avenida Olímpica, 2329</strong></p>
            <p><strong>Aracati-CE</strong></p>
              <p><strong>Postcode: 62800-000</strong></p>
              <p><strong>Fone: 088 3421-3181 / 9652-4411</strong></p>
                 <p>&nbsp;</p>
              <p><strong><a href="mailto:erlon@eboxbrasil.com.br" title="Solicite um orçamento">email: erlon@eboxbrasil.com.br</a></strong></p>
              <p><strong>LinkedIn: <a href="http://www.linkedin.com/pub/erlon-carlos-carlos/1a/831/190" target="_blank">Erlon Carlos</a></strong></p>
              <p> <iframe src="http://www.paguecomtweet.com.br/bt/ptweet-fb-box.php?id=b7f4b6b979cb6ba926f3662ca21b2b85" name="iframe_botao_ptweet" scrolling="no" frameborder="no" height="66" width="146"></iframe></p>
<!--publicidade boo box-->
              <script type="text/javascript">
  bb_bid = "1680108";
  bb_lang = "pt-BR";
  bb_keywords = "";
  bb_name = "custom";
  bb_limit = "4";
  bb_format = "bbd";
</script>
<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
       
        </section>
      </div>
    </div>
  </div>
