 <div id="footer">
    <div class="box1">
      <h2>Últimas facebook!</h2>

<div class="fb-like-box" data-href="https://www.facebook.com/pages/Eboxbrasil/183072518436336?ref=hl" data-width="350" data-show-faces="true" data-border-color="000000" data-stream="false" data-header="false"></div>
      <!-- botão google-->
      <div id="google">
         <g:plusone size="medium" annotation="inline"></g:plusone>
      </div>
 <!-- botão google-->
    </div>

     <!-- fecha redes sociais-->
    <div class="box contactdetails">
      <h2>Outros Contatos !</h2>
      <ul>
        
        <li>Av. Olímpica &amp; 2329</li>
        <li>Aracati-Ce</li>
        <li>Postcode/62800-000</li>
        <li>Tel: 88 3421-3181</li>
        <li>Fax: 88 9652-4411</li>
        <li> <a href="mailto:erlon@eboxbrasil.com.br" title="Solicite um orçamento">email: erlon@eboxbrasil.com.br</a></li>
        <li class="last">LinkedIn: <a href="#">Erlon Carlos</a></li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>Últimas Imagens !</h2>
      <div class="wrap">
        <% @galeries_footer.galeries.limit(9).each do |g| %>
     

        <div class="flickr_badge_image" id="flickr_badge_image1">
          <a href="#">
            <%= image_tag(g.document.url(:thumb), :size => "80x80") %></a>
          </div>


       <% end %>
     
      </div>
    </div>
    <br class="clear" />
  </div>