  <div class="sponsors">
        <h2>Parceiros</h2>
        <div class="b_250"><a href="http://www.eletronbox.com.br" target="_blank"><%= image_tag "cartaovisita250_250.png", :size => "250x220", :alt =>"eletronbox" %></a></div>
        <div class="b_125">
          <ul>
            <li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/demo/125x125.gif" alt="teste" /></a></li>
            <li class="last"><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>