<div id="featured_slide">

<% if @galeries.present? %>
<% @galeries.each do |g| %>
<div class="featured_box">
<div class="floater">
  <h2><%= g.title %></h2>
  <p><%= textilize g.body %></p>
</div>

    <%= link_to image_tag(g.document.url(:thumb), :size => "930x375") %>



</div>
 <% end %>
 <% end %>
</div>