 <div class="5grid-layout">
      <div class="row">
        <div id="banner" class="12u">
          <div class="container">          

          	 <div id="slider" class="nivoSlider">
          	 	<% @category_galeries.galeries.limit(6).each do |g| %>
          	 	 <%= image_tag(g.document.url(:small)) %>
            
              <% end %>
		    </div>
        <!--close slider-->

          </div>
        </div>
      </div>
    </div>