
<div class="subnav">
<h3>Busca no site</h3>

<%= form_tag posts_path, :method => :get do %>
<%= search_field_tag :search, "",
:placeholder => "Pesquise artigos aqui.",
:size => 30 %>
<% end %>
<br>
<h2>Menu de Navegação</h2>

<ul>

<% @categories.each do |category| %>
<li><%= link_to_unless_current category.nome, posts_path(:category_id => category.id) %></li>
<% end %>

</ul>

</div>
<div class="sponsors">
<h2>Parceiros</h2>
<div class="b_250"><a href="http://www.eletronbox.com.br" target="_blank"><%= image_tag "cartaovisita250_250.png", :size => "250x220" %></a></div>

<div class="b_250">
 <script type="text/javascript"><!--
google_ad_client = "ca-pub-9829104402949830";
/* novositeeboxbrasil */
google_ad_slot = "7528284196";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div class="b_250">
 <script type="text/javascript"><!--
google_ad_client = "ca-pub-9829104402949830";
/* novositeeboxbrasil */
google_ad_slot = "7528284196";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>



</div>

