
<div class="subnav">
<h3>Busca no site</h3>

<%= form_tag posts_path, :method => :get do %>
<%= search_field_tag :search, "",
:placeholder => "Pesquise artigos aqui.",
:size => 30 %>
<% end %>
<br>
<h2>Menu de Navegação</h2>

<ul>

<% @categories.each do |category| %>
<li><%= link_to_unless_current category.nome, posts_path(:category_id => category.id) %></li>
<% end %>

</ul>

</div>
<div class="sponsors">
<h2>Site Sponsors</h2>
<div class="b_250"><a href="#"><img src="images/demo/250x250.gif" alt="" /></a></div>
<div class="b_125">
<ul>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>
<li><a href="#"><img src="images/demo/125x125.gif" alt="" /></a></li>

</ul>
<div class="clear"></div>
</div>
</div>

